.str {
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
}

#qs {
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
}

#restart{
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
}

#back{
  display: none;
}
